* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    background-color: red;
    color: #fff;
}

a:hover img {
    background-color: #fff;
}

body {
    margin: 0;
    padding: 20px;
    color: #333;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    overflow: hidden;
}

h1 {
    color: #f00;
    font-size: 18.7px;
    margin-bottom: 0px;
}


#container {
    height: 100%;
}

span {
    color: #f00;
    font-weight: 700;
}


/* ABOUT */

.logo {
    width: 30%;
}

.about-share img {
    width: 24px;
    margin: 0 4px;
}

.about-share:hover {
    background-color: #fff;
}

p .center {
    text-align: center;
}

.greytext {
    margin-top: 0;
    color: #aaa;
}

#version {
    color: #aaa;
}


/* SETTINGS */

#settings {
    display: flex;
}

#settings .form-element {
    float: left;
    margin-right: 18px;
}
.form-element {
}


/* STATS */

#individual {
    position:absolute;
    width:100%;
    text-align: center;
    top:15px;
}
#individual div {
    display:inline;
}

#defaultCanvas0 {
    position: absolute;
    left: 120px;
    top: 173px;
    border-left-color: #f00;
    border-left-width: 2px;
    border-left-style: solid;
    border-bottom-color: #f00;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

#scrub-line {
    position: absolute;
    background-color: #aaa;
    z-index: 9;
    top: 173px;
    height: 305px;
    width: 1px;
    pointer-events: none;
}

#yaxis-label-top {
    position: absolute;
    width: 60px;
    top: 172px;
    text-align: right;
    border-bottom: red solid 2px;
    left: 64px;
    padding-right: 8px;
}

#yaxis-label-bottom {
    position: absolute;
    width: 50px;
    bottom: 82px;
    text-align: right;
    border-bottom: red solid 2px;
    left: 70px;
    padding-right: 4px;
}

#xaxis-label-actual,
#xaxis-label-friends {
    position: absolute;
    bottom: 54px;
}

#xaxis-label-actual div,
#xaxis-label-friends div {
    display: inline;
}

#xaxis-label-friends div {
    margin-right: 2px;
}

.graphicon {
    position: relative;
    top: 1px;
    width: 11px;
}

.payouticon {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../images/payout.png);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index:999;
}

#xaxis-label-friends a img {
    position: relative;
    top: 4px;
    width: 18px;
}

#xaxis-label-actual {
    left: 122px;
}

#xaxis-label-friends {
    right: 94px;
}

#topbox {
    position: absolute;
    left: 70px;
    width: 640px;
    height: 86px;
    top: 40px;
    border-bottom: red solid 2px;
}

#general-stats {
    margin-left: 50px;
    border-left: red solid 2px;
    height: 100%;
    padding-left: 8px;
    padding-top: 12px;
}

#stats-text p,
#stats-modes a {
    margin: 2px 0;
}

#stats-modes img {
    width: 10px;
    margin-right: 4px;
}

#stats-modes {
    position: absolute;
    left: 260px;
    top: 0px;
    margin-left: 50px;
    border-left: red solid 2px;
    height: 100%;
    padding-left: 8px;
    padding-top: 12px;
}

#stats-modes a {
    display: block;
    padding-right: 2px;
}

#invite-friends {
    position: absolute;
    left: 560px;
    top: 0px;
    width: 78px;
    border-left: red solid 2px;
    height: 100%;
    padding-left: 8px;
    padding-top: 12px;
}

#invite-friends a img {
    position: relative;
    top: 9px;
    width: 22px;
}

#scrub-actual,
#scrub-friends {
    display: none;
    position: absolute;
    z-index: 99;
    pointer-events: none;
    background-color: #fff;
    padding: 2px 4px;
    border: red solid 2px;
    transition: all 0.05s;
}
#stats-date {
    position: absolute;
    bottom: 82px;
    left: 120px;
    margin: 4px;
    z-index: 99;
    color: #fff;
    text-shadow: 1px 1px 2px #888888;
}

/* updated above this line */



.uuid {
    /*display:none;*/
}

form {
    margin-bottom: 0;
}

.form-element {
    /*width: 200px;*/
}

input[type="range"] {
    /*margin: auto;*/
    -webkit-appearance: none;
    margin-left: 0px;
    border: 2px solid #f00;
    position: relative;
    overflow: hidden;
    height: 20px;
    width: 100%;
    cursor: pointer;
}

::-webkit-slider-runnable-track {
    /*background: #dd0;*/
}






/*
 * 1. Set to 0 height and width, and remove border for a slider without a thumb
 */

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    /* 1 */
    height: 0px;
    /* 1 */
    box-shadow: -100vw 0 0 100vw #f00;
    border: 1px solid #f00;
}

button {
    margin-top: 2px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    padding: 4px 12px;
    transition: background-color .2s ease-in;
    font: 13px 'Lato', sans-serif;
}

button:hover {
    background-color: #f00;
    border: 1px solid #f00;
    color: #fff;
}




.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 6px;
    padding-top: 5px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
}

.control-radio .control_indicator {
    border-radius: undefined%;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
    background: #cccccc;
}

.control input:checked~.control_indicator {
    background: #ff0000;
}

.control:hover input:not([disabled]):checked~.control_indicator,
.control input:checked:focus~.control_indicator {
    background: #0e6647d;
}

.control input:disabled~.control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
    border-color: #7b7b7b;
}


