<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Settings</title>
  <link rel="stylesheet" href="style.css">
  
</head>
<body>

  <div id="app">
    <h1>SETTINGS</h1>
    <form>
      <div class="form-element">
        <label for="max-usage">Max CPU usage:</label>
        <input v-model="maxUsage" @change="update"  id="max-usage" type="range" min="10" max="100" step="1">
        <span id="slider-percentage">{{maxUsage}}%</span>
      </div>

      <div class="form-element">
        <label for="autostart" class="control control-checkbox">
          Start Bail Bloc on login
          <input v-model="autostart" @change="update" id="autostart" type="checkbox">
          <div class="control_indicator"></div>
        </label>
      </div>

      <div class="form-element">
        <label for="should-pause" class="control control-checkbox">
          Pause when on battery
          <input v-model="pauseOnLowPower" @change="update" id="should-pause" type="checkbox">
          <div class="control_indicator"></div>
        </label>
      </div>
      <button @click="close">Done</button>
    </form>
  </div>

  <script src="vue.min.js"></script>
  <script>
    const {ipcRenderer, remote} = require('electron');

    let currentWindow = remote.getCurrentWindow();

    var app = new Vue({
      el: '#app',
      data: {
        maxUsage: currentWindow.settings.maxUsage,
        pauseOnLowPower: currentWindow.settings.pauseOnLowPower,
        autostart: currentWindow.settings.autostart
      },
      methods: {
        close() {
          window.close();
        },
        update() {
          ipcRenderer.send('changeSettings', {
            maxUsage: this.maxUsage,
            pauseOnLowPower: this.pauseOnLowPower,
            autostart: this.autostart
          });
        }
      }
    });
  </script>
</body>
</html>
