* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    background-color: red;
    color: #fff;
}

body {
    margin: 0;
    padding: 20px;
    /*background-color: #fff;*/
    color: #333;
    font: 13px 'Lato', sans-serif;
    overflow: hidden;
}

p {
    text-align: center;
}

.greytext {
    margin-top: 0;
    color: #aaa;
}

#container {
    height: 100%;
}

#stats-text {
    fill: #f00;
    font-size: 18.7px;
    position: absolute;
    left: 5%;
    top: 5%;
    padding-left: 6px;
    background-color: rgba(255,255,255,0.8);
}

#stats-text p {
    margin: 0;
    text-align: left;
}

#stats-text span {
    color: red;
    font-weight: bold;
}

#stats-modes {
    position: absolute;
    width: 100%;
    text-align: center;
}

#header {
    display: flex;
    height: 25%;
}

#right {
    width: 50%;
    text-align: right;
    color: #aaa;
}

#left {
    flex: 1;
    background-image: url(assets/pages/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: #f00;
    font-size: 18.7px;
    margin-bottom: 0px;
}

.logo {
    width: 30%;
}

.partners-holder {
    display: flex;
    flex-direction: column;
}

.partners {
    display: flex;
    opacity: 0.8;
    justify-content: space-between;
}

.partners img {
    height: 40px;
}

.uuid {
    /*display:none;*/
}

form {
    margin-bottom: 0;
}

.form-element {
    width: 200px;
}

input[type="range"] {
    /*margin: auto;*/
    -webkit-appearance: none;
    margin-left: 0px;
    border: 2px solid #f00;
    position: relative;
    overflow: hidden;
    height: 20px;
    width: 160px;
    cursor: pointer;
}

::-webkit-slider-runnable-track {
    /*background: #dd0;*/
}




/*
 * 1. Set to 0 height and width, and remove border for a slider without a thumb
 */

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    /* 1 */
    height: 0px;
    /* 1 */
    box-shadow: -100vw 0 0 100vw #f00;
    border: 1px solid #f00;
}

button {
    margin-top: 2px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    padding: 4px 12px;
    transition: background-color .2s ease-in;
    font: 13px 'Lato', sans-serif;
}

button:hover {
    background-color: #f00;
    border: 1px solid #f00;
    color: #fff;
}





.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 6px;
    padding-top: 3px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
}

.control-radio .control_indicator {
    border-radius: undefined%;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
    background: #cccccc;
}

.control input:checked~.control_indicator {
    background: #ff0000;
}

.control:hover input:not([disabled]):checked~.control_indicator,
.control input:checked:focus~.control_indicator {
    background: #0e6647d;
}

.control input:disabled~.control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
    border-color: #7b7b7b;
}